* {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  background: #f4f4f4;
}

.text {
  padding: 1rem;
  h1 {
    color: #007bff;
  }
}
.sliderObject {
  width: 50%;
  margin: auto;
  padding: 1rem;
  .valueBoxes {
    display: flex;
    justify-content: space-between;
  }
}
form {
  padding: 1rem;
}
